<section>
    <section class="navParent">
        <nav class="navbar">
            <h1>HouseHub</h1>
            <img src="../assets/logo.png" alt="">
        </nav>
    </section>
    <section class="registerForm">
        <div class="under">
            <h1>Create your account</h1>
            <div class="under between">
                <label for="firstname">Firstname</label>
                <input type="text" name="firstname" placeholder="Enter your firstname">
            </div>
            <div class="under between">
                <label for="lastname">Lastname</label>
                <input type="text" name="lastname" placeholder="Enter your lastname">
            </div>
            <div class="under between">
                <label for="e-mail">E-mail</label>
                <input type="text" name="e-mail" placeholder="Enter your e-mail">
            </div>
            <div class="under between">
                <label for="phonenumber">Phonenumber</label>
                <input type="text" name="phonenumber" placeholder="Enter your phonenumber">
            </div>
            <div class="under between">
                <label for="password">Password</label>
                <input type="text" name="password" placeholder="Enter your password">
            </div>
             <div class="between under">
                <input type="submit" value="Register">
                <p>Already have an account? <a href="#">Click here!</a></p>
            </div>
        </div>
    </section>
</section>